In [1]:
import dask.dataframe as dd
#from dask.dataframe import melt

In [2]:
months = [str(month) for month in range(1,13)]

In [3]:
# Read CSVs into DataFrame
rhine_wl = dd.read_csv('data_stg0/Rhine-water-levels/Rheinpegel_Tag*_0.csv',
                       sep = ";",
                       skiprows = 1, 
                       names = ["day"] + months,
                       include_path_column=True
                      ).compute()

In [4]:
# Display head of input DataFrame
rhine_wl.head()

,day,1,2,3,4,5,6,7,8,9,10,11,12,path
0,1,437,148.0,239,255.0,149,375.0,191,207,234.0,149,240.0,365,D:/data-viz-Python/data_stg0/Rhine-water-level...
1,2,397,141.0,235,239.0,144,349.0,192,206,221.0,156,241.0,399,D:/data-viz-Python/data_stg0/Rhine-water-level...
2,3,368,137.0,224,222.0,159,327.0,184,195,197.0,178,258.0,453,D:/data-viz-Python/data_stg0/Rhine-water-level...
3,4,354,140.0,220,211.0,174,319.0,178,179,184.0,186,253.0,506,D:/data-viz-Python/data_stg0/Rhine-water-level...
4,5,346,140.0,203,203.0,183,318.0,178,167,178.0,159,245.0,523,D:/data-viz-Python/data_stg0/Rhine-water-level...

In [5]:
# Get 'year' from the CSV file name (which ist stored in 'path')
rhine_wl['year'] = rhine_wl['path'].str[-10:-6]

In [6]:
# Transpose "month" columns
rhine_wl = rhine_wl.melt(id_vars = ["year", "day"],
                         value_vars = months,
                         var_name   = "month",
                         value_name = "water-lvl",
                        ).dropna()

In [7]:
# Create 'date' column
rhine_wl['date'] = (
    rhine_wl['year'] + "-" + \
    rhine_wl['month'].str.zfill(2) + "-" + \
    rhine_wl['day'].astype(str).str.zfill(2)
)

In [8]:
# Ensure type of 'water-lvl' is integer
rhine_wl['water-lvl'] = rhine_wl['water-lvl'].astype(int)

In [9]:
# Display head of output DataFrame
rhine_wl.head()

   year  day month  water-lvl        date
0  1996    1     1        437  1996-01-01
1  1996    2     1        397  1996-01-02
2  1996    3     1        368  1996-01-03
3  1996    4     1        354  1996-01-04
4  1996    5     1        346  1996-01-05

In [10]:
# Save output DataFrame as CSV
rhine_wl[['date', 'water-lvl']].to_csv("data_stg1/rhine_wl.csv", index=False)